body
{
    background-color: green;
    margin:0;
}

nav
{
    border: 1px solid black;
    font-size:larger;
    background-color: dimgray;
    width:100%;
    margin:0;
}

nav ul
{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around
}

main
{
    text-align: center;
}

h1
{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid black
}

h2
{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    border: 1px solid black
}

h3
{
    font-size: 23px;
    margin: 50px;
    text-align: center;
    border: 1px solid black
}

.home .description
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
    word-wrap:break-word;
    border: 10px solid red;
    border-radius: 10px;
}

.home img
{
    width: 620px;
}

.projects ul
{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
}

.projects li
{
    text-align: left;
}

.interests p
{
    font-size:x-large;
}
.memes
{
    display: flex;
    flex-flow: row wrap;
    width:1500px;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    flex-shrink: 1;
}

.memes img
{

    height: 525px;
    width: 525px;
}