body
{
    background-color: green;
    margin:0;
    font-family: "Comic Sans MS", sans-serif;
    color:blue;
    text-shadow: 1px 1px black;
}

nav
{
    /* border: 1px solid black; */
    font-size:larger;
    background-color: dimgray;
    width:100%;
    margin:0;
    padding: 20px;
}

nav ul
{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin:0px;
}

main
{
    text-align: center;
}

h1
{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    /* border: 1px solid black */
}

h2
{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    /* border: 1px solid black */
}

h3
{
    font-size: 23px;
    margin: 50px;
    text-align: center;
    /* border: 1px solid black */
}

.home .description
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
    word-wrap:break-word;
    border: 10px solid red;
    border-radius: 10px;
}

.home img
{
    width: 620px;
}

.home .ending
{
    font-size:larger;
    margin: 50px;
}

.projects ul
{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    border: 10px solid red;
    border-radius: 10px;
    justify-content: center;
    padding: 30px;
}

.projects li
{
    font-size:larger;
    text-align: left;
    padding: 10px;
}

.interests p
{
    font-size:x-large;
    margin: 40px;
}
.memes
{
    display: flex;
    flex-flow: row wrap;
    width:1050px;
    border: 10px solid red;
    border-radius: 10px;;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    flex-shrink: 1;
    
}

.pets
{
    border: 10px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.petmemes
{
    border: 10px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.memes img
{
    height: 525px;
    width: 525px;  
}

.pets img
{
    height: 525px;
    width: 525px; 
    object-fit: cover;
}

.petmemes img
{
    height: 525px;
    width: 525px;  
    object-fit: cover;
    margin:0;
    padding:0;
}

a
{
    text-decoration: none;
}





/* ALL ANIMATION TEXT FOR THE DUMPING GROUND 
IS BELOW THIS POINT
ENTER AT YOUR OWN RISK */
.ghost {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64.5px;
    margin-top: -85.5px;
  }
  
  .ghost {
    animation: float 3s ease-out infinite;
    margin-left: 169px;
  }
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
  .shadowFrame {
    width: 130px;
    margin-top: 15px;
  }
  .shadow {
    animation: shrink 3s 2.5s ease-out infinite;
    transform-origin: center center;
    ellipse {
      transform-origin: center center;
    }
  }
  
  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }







.corb
{
    animation: clockwise .1s 5s infinite;
}



body .dump {
    border: 10px solid;
    height: 100vh;
  margin: 0;
  background-image: url("https://preview.redd.it/xa0o794oix031.jpg?auto=webp&s=5eb9997f7acf65a25a5c1cda943f9aed9357785a");
    animation: border 2s linear .1s infinite alternate;
    animation: sandwich 1.69s linear 6s infinite alternate;
}

.square1 {
  background-color: #FF8776;
  height: 20vw;
  width: 20vw;
  border-radius: 20%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  animation: counterClockwise 1s 2s infinite;
  opacity: 0.2;
}

.square2 {
  background-color: #5576ED;
  height: 20vw;
  width: 20vw;
  border-radius: 20%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) rotate(15deg);
  animation: clockwise .3s 3s infinite;
  opacity: 0.3;
}

@keyframes counterClockwise {
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes clockwise {
  30% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  70% {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}

.letter {
  font-family: $raleway;
  color: white;
  font-size: 10vw;
  letter-spacing: 0.1em;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-75%, -50%);
  opacity: 0;
  animation: sandwich 1s 8s infinite;
}

@keyframes border
{
    from {border-color:red;}
    to {border-color: blue;}
}

@keyframes sandwich
{
    from {opacity:1}
    to {opacity:0}
}

