body
{
    background-color: green;
    margin:0;
    font-family: "Comic Sans MS", sans-serif;
    color:blue;
    text-shadow: 1px 1px black;
}

nav
{
    /* border: 1px solid black; */
    font-size:larger;
    background-color: dimgray;
    width:100%;
    margin:0;
    padding: 20px;
}

nav ul
{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin:0px;
}

main
{
    text-align: center;
}

h1
{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    /* border: 1px solid black */
}

h2
{
    font-size: 30px;
    margin: 20px;
    text-align: center;
    /* border: 1px solid black */
}

h3
{
    font-size: 23px;
    margin: 50px;
    text-align: center;
    /* border: 1px solid black */
}

.home .description
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 600px;
    word-wrap:break-word;
    border: 10px solid red;
    border-radius: 10px;
}

.home img
{
    width: 620px;
}

.home .ending
{
    font-size:larger;
    margin: 50px;
}

.projects ul
{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    border: 10px solid red;
    border-radius: 10px;
    justify-content: center;
    padding: 30px;
}

.projects li
{
    font-size:larger;
    text-align: left;
    padding: 10px;
}

.interests p
{
    font-size:x-large;
    margin: 40px;
}
.memes
{
    display: flex;
    flex-flow: row wrap;
    width:1050px;
    border: 10px solid red;
    border-radius: 10px;;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    flex-shrink: 1;
    
}

.pets
{
    border: 10px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.petmemes
{
    border: 10px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.memes img
{
    height: 525px;
    width: 525px;  
}

.pets img
{
    height: 525px;
    width: 525px; 
    object-fit: cover;
}

.petmemes img
{
    height: 525px;
    width: 525px;  
    object-fit: cover;
    margin:0;
    padding:0;
}

a
{
    text-decoration: none;
}